@{
    ViewBag.Title = @Html.Raw(ViewBag.tit);
    ViewBag.des = @Html.Raw(ViewBag.des);
    ViewBag.key = @Html.Raw(ViewBag.key);
    Layout = "~/Views/Shared/_SubLayout.cshtml";
}
<div class="row container-wrapper">
    @{Html.RenderAction("_Headline", "My_PartialView");}

    <div class="row content-wrapper">
        <div class="col-2"></div>
        <div class="col-8">
            <div class="box-wrapper main-box title-link-box">
                <div class="title-link">
                    <ul>
                        <li class="SecondLast"><a href='/'><i class="icon-home" style="font-size: 14px;"></i>Trang chủ</a></li>
                        <li class="Last"><a href='@Html.Raw(ViewBag.MenuLink)'>@Html.Raw(ViewBag.MenuName)</a></li>
                    </ul>
                </div>
            </div>

            <div class="box-wrapper main-box">
            @Html.Raw(ViewBag.MenuContent)
            </div>
        
        </div>
        <div class="col-2"></div>
        </div>
    </div>

       